@{
    Layout = "~/Views/UserWebUILayout/LayoutUI.cshtml";
    ViewBag.Title = "Movie Detail";

}
<div class="hero mv-single-hero">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- <h1> movie listing - list</h1>
				<ul class="breadcumb">
					<li class="active"><a href="#">Home</a></li>
					<li> <span class="ion-ios-arrow-right"></span> movie listing</li>
				</ul> -->
            </div>
        </div>
    </div>
</div>
<div class="page-single movie-single movie_single">
    <div class="container">
        <div class="row ipad-width2">
            @await Component.InvokeAsync("_MovieImageAndWatchTrailerComponentPartial")

            <div class="col-md-8 col-sm-12 col-xs-12">
                <div class="movie-single-ct main-content">
                    <h1 class="bd-hd">Skyfall: Quantum of Spectre <span>2015</span></h1>
                    @await Component.InvokeAsync("_MovieDetailShareSocialMediaComponentPartial")
                    @await Component.InvokeAsync("_MovieDetailRateComponentPartial")
                    <div class="movie-tabs">
                        <div class="tabs">
                            <ul class="tab-links tabs-mv">
                                <li class="active"><a href="#overview">Hakkında</a></li>
                                <li><a href="#reviews"> Yorumlar</a></li>
                                <li><a href="#cast"> Oyuncular</a></li>
                                <li><a href="#media"> Fragmanlar</a></li>
                                <li><a href="#moviesrelated"> Benzerleri</a></li>
                            </ul>
                            <div class="tab-content">
                                @await Component.InvokeAsync("_MovieDetailOverviewComponentPartial")

                                @await Component.InvokeAsync("_MovieDetailReviewComponentPartial")
                                <div id="cast" class="tab">
                                    <div class="row">
                                        <h3>Cast & Crew of</h3>
                                        <h2>Avengers: Age of Ultron</h2>
                                        <!-- //== -->
                                        <div class="title-hd-sm">
                                            <h4>Directors & Credit Writers</h4>
                                        </div>
                                        <div class="mvcast-item">
                                            <div class="cast-it">
                                                <div class="cast-left">
                                                    <h4>JW</h4>
                                                    <a href="#">Joss Whedon</a>
                                                </div>
                                                <p>... Director</p>
                                            </div>
                                        </div>
                                        <!-- //== -->
                                        <div class="title-hd-sm">
                                            <h4>Directors & Credit Writers</h4>
                                        </div>
                                        <div class="mvcast-item">
                                            <div class="cast-it">
                                                <div class="cast-left">
                                                    <h4>SL</h4>
                                                    <a href="#">Stan Lee</a>
                                                </div>
                                                <p>... (based on Marvel comics)</p>
                                            </div>
                                            <div class="cast-it">
                                                <div class="cast-left">
                                                    <h4>JK</h4>
                                                    <a href="#">Jack Kirby</a>
                                                </div>
                                                <p>... (based on Marvel comics)</p>
                                            </div>
                                            <div class="cast-it">
                                                <div class="cast-left">
                                                    <h4>JS</h4>
                                                    <a href="#">Joe Simon</a>
                                                </div>
                                                <p>... (character created by: Captain America)</p>
                                            </div>
                                            <div class="cast-it">
                                                <div class="cast-left">
                                                    <h4>JS</h4>
                                                    <a href="#">Joe Simon</a>
                                                </div>
                                                <p>... (character created by: Thanos)</p>
                                            </div>
                                            <div class="cast-it">
                                                <div class="cast-left">
                                                    <h4>RT</h4>
                                                    <a href="#">Roy Thomas</a>
                                                </div>
                                                <p>... (character created by: Ultron, Vision)</p>
                                            </div>
                                            <div class="cast-it">
                                                <div class="cast-left">
                                                    <h4>JB</h4>
                                                    <a href="#">John Buscema</a>
                                                </div>
                                                <p>... (character created by: Ultron, Vision)</p>
                                            </div>
                                        </div>
                                        <!-- //== -->
                                        <div class="title-hd-sm">
                                            <h4>Cast</h4>
                                        </div>
                                        <div class="mvcast-item">
                                            <div class="cast-it">
                                                <div class="cast-left">
                                                    <img src="~/Film-Review-Movie-Database/images/uploads/cast1.jpg"
                                                         alt="">
                                                        <a href="#">Robert Downey Jr.</a>
                                                    </div>
                                                    <p>... Robert Downey Jr.</p>
                                                </div>
                                                <div class="cast-it">
                                                    <div class="cast-left">
                                                        <img src="~/Film-Review-Movie-Database/images/uploads/cast2.jpg"
                                                             alt="">
                                                            <a href="#">Chris Hemsworth</a>
                                                        </div>
                                                        <p>... Thor</p>
                                                    </div>
                                                    <div class="cast-it">
                                                        <div class="cast-left">
                                                            <img src="~/Film-Review-Movie-Database/images/uploads/cast3.jpg"
                                                                 alt="">
                                                                <a href="#">Mark Ruffalo</a>
                                                            </div>
                                                            <p>... Bruce Banner/ Hulk</p>
                                                        </div>
                                                        <div class="cast-it">
                                                            <div class="cast-left">
                                                                <img src="~/Film-Review-Movie-Database/images/uploads/cast4.jpg"
                                                                     alt="">
                                                                    <a href="#">Chris Evans</a>
                                                                </div>
                                                                <p>... Steve Rogers/ Captain America</p>
                                                            </div>
                                                            <div class="cast-it">
                                                                <div class="cast-left">
                                                                    <img src="~/Film-Review-Movie-Database/images/uploads/cast5.jpg"
                                                                         alt="">
                                                                        <a href="#">Scarlett Johansson</a>
                                                                    </div>
                                                                    <p>... Natasha Romanoff/ Black Widow</p>
                                                                </div>
                                                                <div class="cast-it">
                                                                    <div class="cast-left">
                                                                        <img src="~/Film-Review-Movie-Database/images/uploads/cast6.jpg"
                                                                             alt="">
                                                                            <a href="#">Jeremy Renner</a>
                                                                        </div>
                                                                        <p>... Clint Barton/ Hawkeye</p>
                                                                    </div>
                                                                    <div class="cast-it">
                                                                        <div class="cast-left">
                                                                            <img src="~/Film-Review-Movie-Database/images/uploads/cast7.jpg"
                                                                                 alt="">
                                                                                <a href="#">James Spader</a>
                                                                            </div>
                                                                            <p>... Ultron</p>
                                                                        </div>
                                                                        <div class="cast-it">
                                                                            <div class="cast-left">
                                                                                <img src="~/Film-Review-Movie-Database/images/uploads/cast9.jpg"
                                                                                     alt="">
                                                                                    <a href="#">Don Cheadle</a>
                                                                                </div>
                                                                                <p>... James Rhodes/ War Machine</p>
                                                                            </div>
                                                                        </div>
                                                                        <!-- //== -->
                                                                        <div class="title-hd-sm">
                                                                            <h4>Produced by</h4>
                                                                        </div>
                                                                        <div class="mvcast-item">
                                                                            <div class="cast-it">
                                                                                <div class="cast-left">
                                                                                    <h4>VA</h4>
                                                                                    <a href="#">Victoria Alonso</a>
                                                                                </div>
                                                                                <p>... executive producer</p>
                                                                            </div>
                                                                            <div class="cast-it">
                                                                                <div class="cast-left">
                                                                                    <h4>MB</h4>
                                                                                    <a href="#">Mitchel Bell</a>
                                                                                </div>
                                                                                <p>... co-producer (as Mitch Bell)</p>
                                                                            </div>
                                                                            <div class="cast-it">
                                                                                <div class="cast-left">
                                                                                    <h4>JC</h4>
                                                                                    <a href="#">Jamie Christopher</a>
                                                                                </div>
                                                                                <p>... associate producer</p>
                                                                            </div>
                                                                            <div class="cast-it">
                                                                                <div class="cast-left">
                                                                                    <h4>LD</h4>
                                                                                    <a href="#">Louis D’Esposito</a>
                                                                                </div>
                                                                                <p>... executive producer</p>
                                                                            </div>
                                                                            <div class="cast-it">
                                                                                <div class="cast-left">
                                                                                    <h4>JF</h4>
                                                                                    <a href="#">Jon Favreau</a>
                                                                                </div>
                                                                                <p>... executive producer</p>
                                                                            </div>
                                                                            <div class="cast-it">
                                                                                <div class="cast-left">
                                                                                    <h4>KF</h4>
                                                                                    <a href="#">Kevin Feige</a>
                                                                                </div>
                                                                                <p>... producer</p>
                                                                            </div>
                                                                            <div class="cast-it">
                                                                                <div class="cast-left">
                                                                                    <h4>AF</h4>
                                                                                    <a href="#">Alan Fine</a>
                                                                                </div>
                                                                                <p>... executive producer</p>
                                                                            </div>
                                                                            <div class="cast-it">
                                                                                <div class="cast-left">
                                                                                    <h4>JF</h4>
                                                                                    <a href="#">Jeffrey Ford</a>
                                                                                </div>
                                                                                <p>... associate producer</p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div id="media" class="tab">
                                                                    <div class="row">
                                                                        <div class="rv-hd">
                                                                            <div>
                                                                                <h3>Videos & Photos of</h3>
                                                                                <h2>Skyfall: Quantum of Spectre</h2>
                                                                            </div>
                                                                        </div>
                                                                        <div class="title-hd-sm">
                                                                            <h4>Videos <span>(8)</span></h4>
                                                                        </div>
                                                                        <div class="mvsingle-item media-item">
                                                                            <div class="vd-item">
                                                                                <div class="vd-it">
                                                                                    <img class="vd-img" src="images/uploads/vd-item1.jpg" alt="">
                                                                                    <a class="fancybox-media hvr-grow"
                                                                                           href="https://www.youtube.com/embed/o-0hcF97wy0"><img
                                                                                        src="images/uploads/play-vd.png" alt=""></a>
                                                                                    </div>
                                                                                    <div class="vd-infor">
                                                                                        <h6> <a href="#">Trailer: Watch New Scenes</a></h6>
                                                                                        <p class="time"> 1: 31</p>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="vd-item">
                                                                                    <div class="vd-it">
                                                                                        <img class="vd-img" src="images/uploads/vd-item2.jpg" alt="">
                                                                                        <a class="fancybox-media hvr-grow"
                                                                                               href="https://www.youtube.com/embed/o-0hcF97wy0"><img
                                                                                            src="images/uploads/play-vd.png" alt=""></a>
                                                                                        </div>
                                                                                        <div class="vd-infor">
                                                                                            <h6> <a href="#">Featurette: “Avengers Re-Assembled</a></h6>
                                                                                            <p class="time"> 1: 03</p>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="vd-item">
                                                                                        <div class="vd-it">
                                                                                            <img class="vd-img" src="images/uploads/vd-item3.jpg" alt="">
                                                                                            <a class="fancybox-media hvr-grow"
                                                                                                   href="https://www.youtube.com/embed/o-0hcF97wy0"><img
                                                                                                src="images/uploads/play-vd.png" alt=""></a>
                                                                                            </div>
                                                                                            <div class="vd-infor">
                                                                                                <h6> <a href="#">Interview: Robert Downey Jr</a></h6>
                                                                                                <p class="time"> 3:27</p>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="vd-item">
                                                                                            <div class="vd-it">
                                                                                                <img class="vd-img" src="images/uploads/vd-item4.jpg" alt="">
                                                                                                <a class="fancybox-media hvr-grow"
                                                                                                       href="https://www.youtube.com/embed/o-0hcF97wy0"><img
                                                                                                    src="images/uploads/play-vd.png" alt=""></a>
                                                                                                </div>
                                                                                                <div class="vd-infor">
                                                                                                    <h6> <a href="#">Interview: Scarlett Johansson</a></h6>
                                                                                                    <p class="time"> 3:27</p>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="vd-item">
                                                                                                <div class="vd-it">
                                                                                                    <img class="vd-img" src="images/uploads/vd-item1.jpg" alt="">
                                                                                                    <a class="fancybox-media hvr-grow"
                                                                                                           href="https://www.youtube.com/embed/o-0hcF97wy0"><img
                                                                                                        src="images/uploads/play-vd.png" alt=""></a>
                                                                                                    </div>
                                                                                                    <div class="vd-infor">
                                                                                                        <h6> <a href="#">Featurette: Meet Quicksilver & The Scarlet
                                                                                                            Witch</a></h6>
                                                                                                            <p class="time"> 1: 31</p>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <div class="vd-item">
                                                                                                        <div class="vd-it">
                                                                                                            <img class="vd-img" src="images/uploads/vd-item2.jpg" alt="">
                                                                                                            <a class="fancybox-media hvr-grow"
                                                                                                                   href="https://www.youtube.com/embed/o-0hcF97wy0"><img
                                                                                                                src="images/uploads/play-vd.png" alt=""></a>
                                                                                                            </div>
                                                                                                            <div class="vd-infor">
                                                                                                                <h6> <a href="#">Interview: Director Joss Whedon</a></h6>
                                                                                                                <p class="time"> 1: 03</p>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                        <div class="vd-item">
                                                                                                            <div class="vd-it">
                                                                                                                <img class="vd-img" src="images/uploads/vd-item3.jpg" alt="">
                                                                                                                <a class="fancybox-media hvr-grow"
                                                                                                                       href="https://www.youtube.com/embed/o-0hcF97wy0"><img
                                                                                                                    src="images/uploads/play-vd.png" alt=""></a>
                                                                                                                </div>
                                                                                                                <div class="vd-infor">
                                                                                                                    <h6> <a href="#">Interview: Mark Ruffalo</a></h6>
                                                                                                                    <p class="time"> 3:27</p>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                            <div class="vd-item">
                                                                                                                <div class="vd-it">
                                                                                                                    <img class="vd-img" src="images/uploads/vd-item4.jpg" alt="">
                                                                                                                    <a class="fancybox-media hvr-grow"
                                                                                                                           href="https://www.youtube.com/embed/o-0hcF97wy0"><img
                                                                                                                        src="images/uploads/play-vd.png" alt=""></a>
                                                                                                                    </div>
                                                                                                                    <div class="vd-infor">
                                                                                                                        <h6> <a href="#">Official Trailer #2</a></h6>
                                                                                                                        <p class="time"> 3:27</p>
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                            <div class="title-hd-sm">
                                                                                                                <h4>Photos <span> (21)</span></h4>
                                                                                                            </div>
                                                                                                            <div class="mvsingle-item">
                                                                                                                <a class="img-lightbox" data-fancybox-group="gallery"
                                                                                                                       href="images/uploads/image11.jpg"><img src="images/uploads/image1.jpg"
                                                                                                                                                           alt=""></a>
                                                                                                                    <a class="img-lightbox" data-fancybox-group="gallery"
                                                                                                                           href="images/uploads/image21.jpg"><img src="images/uploads/image2.jpg"
                                                                                                                                                               alt=""></a>
                                                                                                                        <a class="img-lightbox" data-fancybox-group="gallery"
                                                                                                                               href="images/uploads/image31.jpg"><img src="images/uploads/image3.jpg"
                                                                                                                                                                   alt=""></a>
                                                                                                                            <a class="img-lightbox" data-fancybox-group="gallery"
                                                                                                                                   href="images/uploads/image41.jpg"><img src="images/uploads/image4.jpg"
                                                                                                                                                                       alt=""></a>
                                                                                                                                <a class="img-lightbox" data-fancybox-group="gallery"
                                                                                                                                       href="images/uploads/image51.jpg"><img src="images/uploads/image5.jpg"
                                                                                                                                                                           alt=""></a>
                                                                                                                                    <a class="img-lightbox" data-fancybox-group="gallery"
                                                                                                                                           href="images/uploads/image61.jpg"><img src="images/uploads/image6.jpg"
                                                                                                                                                                               alt=""></a>
                                                                                                                                        <a class="img-lightbox" data-fancybox-group="gallery"
                                                                                                                                               href="images/uploads/image71.jpg"><img src="images/uploads/image7.jpg"
                                                                                                                                                                                   alt=""></a>
                                                                                                                                            <a class="img-lightbox" data-fancybox-group="gallery"
                                                                                                                                                   href="images/uploads/image81.jpg"><img src="images/uploads/image8.jpg"
                                                                                                                                                                                       alt=""></a>
                                                                                                                                                <a class="img-lightbox" data-fancybox-group="gallery"
                                                                                                                                                       href="images/uploads/image91.jpg"><img src="images/uploads/image9.jpg"
                                                                                                                                                                                           alt=""></a>
                                                                                                                                                    <a class="img-lightbox" data-fancybox-group="gallery"
                                                                                                                                                           href="images/uploads/image101.jpg"><img src="images/uploads/image10.jpg"
                                                                                                                                                                                                alt=""></a>
                                                                                                                                                        <a class="img-lightbox" data-fancybox-group="gallery"
                                                                                                                                                               href="images/uploads/image111.jpg"><img
                                                                                                                                                            src="images/uploads/image1-1.jpg" alt=""></a>
                                                                                                                                                            <a class="img-lightbox" data-fancybox-group="gallery"
                                                                                                                                                                   href="images/uploads/image121.jpg"><img src="images/uploads/image12.jpg"
                                                                                                                                                                                                        alt=""></a>
                                                                                                                                                                <a class="img-lightbox" data-fancybox-group="gallery"
                                                                                                                                                                       href="images/uploads/image131.jpg"><img src="images/uploads/image13.jpg"
                                                                                                                                                                                                            alt=""></a>
                                                                                                                                                                    <a class="img-lightbox" data-fancybox-group="gallery"
                                                                                                                                                                           href="images/uploads/image141.jpg"><img src="images/uploads/image14.jpg"
                                                                                                                                                                                                                alt=""></a>
                                                                                                                                                                        <a class="img-lightbox" data-fancybox-group="gallery"
                                                                                                                                                                               href="images/uploads/image151.jpg"><img src="images/uploads/image15.jpg"
                                                                                                                                                                                                                    alt=""></a>
                                                                                                                                                                            <a class="img-lightbox" data-fancybox-group="gallery"
                                                                                                                                                                                   href="images/uploads/image161.jpg"><img src="images/uploads/image16.jpg"
                                                                                                                                                                                                                        alt=""></a>
                                                                                                                                                                                <a class="img-lightbox" data-fancybox-group="gallery"
                                                                                                                                                                                       href="images/uploads/image171.jpg"><img src="images/uploads/image17.jpg"
                                                                                                                                                                                                                            alt=""></a>
                                                                                                                                                                                    <a class="img-lightbox" data-fancybox-group="gallery"
                                                                                                                                                                                           href="images/uploads/image181.jpg"><img src="images/uploads/image18.jpg"
                                                                                                                                                                                                                                alt=""></a>
                                                                                                                                                                                        <a class="img-lightbox" data-fancybox-group="gallery"
                                                                                                                                                                                               href="images/uploads/image191.jpg"><img src="images/uploads/image19.jpg"
                                                                                                                                                                                                                                    alt=""></a>
                                                                                                                                                                                            <a class="img-lightbox" data-fancybox-group="gallery"
                                                                                                                                                                                                   href="images/uploads/image201.jpg"><img src="images/uploads/image20.jpg"
                                                                                                                                                                                                                                        alt=""></a>
                                                                                                                                                                                                <a class="img-lightbox" data-fancybox-group="gallery"
                                                                                                                                                                                                       href="images/uploads/image211.jpg"><img
                                                                                                                                                                                                    src="images/uploads/image2-1.jpg" alt=""></a>
                                                                                                                                                                                                </div>
                                                                                                                                                                                            </div>
                                                                                                                                                                                        </div>
                                                                                                                                                                                        @await Component.InvokeAsync("_MovieDetailRelatedMoviesComponentPartial")
                                                                                                                                                                                    </div>
                                                                                                                                                                                </div>
                                                                                                                                                                            </div>
                                                                                                                                                                        </div>
                                                                                                                                                                    </div>
                                                                                                                                                                </div>
                                                                                                                                                            </div>
                                                                                                                                                            <!-- end movie single section-->